@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h2, h3, p {
  word-wrap: break-word;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1rem; 
  padding: 0 1rem;
}

.space-x-4 a {
  display: inline-block; 
  margin: 0.5rem; 
}

@media (max-width: 768px) {
  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  p {
    font-size: 0.875rem;
  }

  .flex-wrap {
    flex-direction: column;
    align-items: center;
  }

  .w-full {
    width: 100%;
  }

  .h-screen {
    height: auto;
  }
}

.bg-gradient {
  background: linear-gradient(to bottom, #050505, #0f9d58);
  min-height: 100vh;
}
@layer utilities {
  .hover\:shadow-neon-glow:hover {
    box-shadow: 0 0 10px 2px rgba(57, 255, 20, 0.8), 0 0 20px 4px rgba(57, 255, 20, 0.6), 0 0 30px 6px rgba(57, 255, 20, 0.4);
  }
  .hover\:border-neon-green:hover {
    border: 4px solid #39FF14; 
  }
  .hover\:scale-125:hover {
    transform: scale(1.25); 
  }
}
